h1{
    font-size: 70px;
    font-style: bold;
    color: aquamarine;
    margin-top: 2px;
}               
h2{
    font-style: bold;
    color: aquamarine;
    margin-top: 3px;
    font-size: 50px;
} 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lobster', sans-serif;
}
.diceContainer{
    display: flex;
    gap: 50px;
}
p{
    color: aquamarine;
}
button{
    margin-top: 20px;
    font-family: 'Lobster', sans-serif;
    padding: 10px 15px;
    font-size: 25px;
    background-color: #F4EEE9;
    border: none;
    cursor: pointer;
}
button:hover{
    scale: 1.02;
}